{% extends "layouts/base_employee.html" %}

{% block title %}Employee Login | Nexa Solutions{% endblock %}

{% block content %}
<div class="admin-container employee-auth-container">
  <h1>Employee Login</h1>

  <form method="POST">
    <label for="identifier">Username or Email</label>
    <input type="text" id="identifier" name="identifier" class="input" required autocomplete="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="input" required autocomplete="current-password">

    <button type="submit" class="btn-primary">Login</button>
  </form>
</div>
{% endblock %}
